<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="#"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试用例管理系统</title>
    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
 
    <!-- 引入 layui.js -->
    <script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
    <style>
      .input-text
      {
          border: 1px solid #C3CED9;
          border-radius: 5px 5px 5px 5px;
          font-size: 14px;
          height: 50px;
          line-height: 31px;
          margin-right: 10px;
          padding: 0;
      }
  </style>
</head>
<body>
    
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
          <div class="layui-logo layui-hide-xs layui-bg-black">测试用例管理系统</div>
          <!-- 头部区域（可配合layui 已有的水平导航） -->
          <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
              <i class="layui-icon layui-icon-spread-left"></i>
            </li>
            
            <li class="layui-nav-item layui-hide-xs"><a href="">用例管理</a></li>
            <li class="layui-nav-item layui-hide-xs"><a href="">用例执行</a></li>
            <li class="layui-nav-item layui-hide-xs"><a href="">用例评审</a></li>
            <li class="layui-nav-item">
              <a href="javascript:;">用例集</a>
              <dl class="layui-nav-child">
                <dd><a href="">用例集1</a></dd>
                <dd><a href="">用例集2</a></dd>
                <dd><a href="">用例集3</a></dd>
              </dl>
            </li>
          </ul>
          <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
              <a href="javascript:;">
                <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
                用户名
              </a>
              <dl class="layui-nav-child">
                <dd><a href="">我的信息</a></dd>
                <dd><a href="">设置</a></dd>
                <dd><a href="">登出</a></dd>
              </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
              <a href="javascript:;">
                <i class="layui-icon layui-icon-more-vertical"></i>
              </a>
            </li>
          </ul>
        </div>
        
        <div class="layui-side layui-bg-black">
          <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
              <li class="layui-nav-item">
                <a class="" href="javascript:;">用例集1</a>
                <dl class="layui-nav-child">
                  <dd><a href="javascript:;">用例1</a></dd>
                  <dd><a href="javascript:;">用例2</a></dd>
                  <dd><a href="javascript:;">用例3</a></dd>
                </dl>
              </li>
              <li class="layui-nav-item">
                <a href="javascript:;">用例集2</a>
                <dl class="layui-nav-child">
                  <dd><a href="javascript:;">用例1</a></dd>
                  <dd><a href="javascript:;">用例2</a></dd>
                  <dd><a href="">超链接</a></dd>
                </dl>
              </li>
              <li class="layui-nav-item"><a href="javascript:;">冒烟测试</a></li>
              <li class="layui-nav-item"><a href="">我的任务</a></li>
            </ul>
          </div>
        </div>
        
        <div class="layui-body">
          <!-- 内容主体区域 -->
          <table class="layui-table" lay-even lay-skin="row" lay-size="lg" >
            <thead>
              <tr>
                <th>用例名</th>
                <th>前置条件</th>
                <th>执行步骤</th>
                <th>预期结果</th>
                <th>测试结果</th>
                <th>备注</th>
                <th>操作</th>
              </tr> 
            </thead>           
            <tbody id="mytable">
              {% for case_management in case_management_list %}
              <tr>
                <td>{{ case_management.test_case_name}}</td>
                <td>{{ case_management.test_case_preposition}}</td>
                <td>{{ case_management.test_case_step}}</td>
                <td>{{ case_management.test_case_expected}}</td>
                <td>                   
                    <form>
                    <input type="radio" name="sex" value="pass"> pass<br />
                    <input type="radio" name="sex" value="fail"> fail<br />
                    <input type="radio" name="sex" value="block"> block<br />
                    </form>
                </td>
                <td></td>
                <td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <button type="button" class="layui-btn layui-btn-fluid" id="123">新增用例</button>
        </div>
        
        <div class="layui-footer">
          <!-- 底部固定区域 -->
          在每一个细节中，用心与你沟通
        </div>
      </div>
      <script>
      //JS 
      layui.use(['element', 'layer', 'util','jquery'], function(){
        var element = layui.element
        ,layer = layui.layer
        ,util = layui.util
        ,$ = layui.$;
        
        $('#123').click(function(){
          $("#mytable").append(
            "<tr><td><form><input type='text' class='input-text'></form></td><td><form><input type='text' class='input-text'></form></td><td><form><input type='text' class='input-text'></form></td><td><form><input type='text' class='input-text'></form></td><td><form><input type='radio' name='sex' value='pass'> pass<br /><input type='radio' name='sex' value='fail'> fail<br /><input type='radio' name='sex' value='block'> block<br /></form></td><td><form><input type='text' class='input-text'></form></td><td></td></tr>")
        })
        //头部事件
        util.event('lay-header-event', {
          //左侧菜单事件
          menuLeft: function(othis){
            layer.msg('展开左侧菜单的操作', {icon: 0});
          }
          ,menuRight: function(){
            layer.open({
              type: 1
              ,content: '<div style="padding: 15px;">还没想好放啥</div>'
              ,area: ['260px', '100%']
              ,offset: 'rt' //右上角
              ,anim: 5
              ,shadeClose: true
            });
          }
        });
        
      });
      
      </script>
      </body>
</html>