
<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.10/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/dashboard/">

    <title>tc用例平台</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.10/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.10/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.10/examples/dashboard/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.10/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.10/assets/js/ie-emulation-modes-warning.js"></script>

  </head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">&nbsp; &nbsp; &nbsp; 测试用例管理平台</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
              <input type="text" class="form-control" placeholder="Search...">
            </form>
          </div>
        </div>
      </nav>
  
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li class="active"><a href="#">用例管理 <span class="sr-only">(current)</span></a></li>
              <li><a href="#">全部用例</a></li>
              <li><a href="#">音乐项目</a></li>
              <li><a href="#">游戏项目</a></li>
            </ul>
          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">版本用例集合</h1>
            <div class="table-responsive">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active">
                             <a href="#panel-857428" data-toggle="tab">测试用例</a>
                        </li>
                        <li>
                             <a href="#panel-104120" data-toggle="tab">用例执行</a>
                        </li>
                        <li>
                            <a href="#panel-104120" data-toggle="tab">用例评审</a>
                       </li>
                    </ul>
                    <br />
                    <br />
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-857428">
                        </div>
                        <div class="tab-pane" id="panel-104120">
                        </div>
                    </div>
                </div>
                <table id = "table1" class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>
                                用例名
                            </th>
                            <th>
                                用例级别
                            </th>
                            <th>
                                前置条件
                            </th>
                            <th>
                                执行步骤
                            </th>
                            <th>
                                预期结果
                            </th>
                            <th>
                                测试结果
                            </th>
                            <th>
                                执行人
                            </th>
                            <th>
                                备注
                            </th>
                        </tr>
                    </thead>
                    {% for case_management in case_management_list %}
                    <tbody>
                        <tr>
                            <td contentEditable="true">
                                {{ case_management.test_case_name}}
                            </td>
                            <td contentEditable="true"> 
                                {{ case_management.test_case_level}}
                            </td>
                            <td contentEditable="true">
                                {{ case_management.test_case_preposition}}
                            </td>
                            <td contentEditable="true">
                                {{ case_management.test_case_step}}
                            </td>
                            <td contentEditable="true">
                                {{ case_management.test_case_expected}}
                            </td>
                            <td contentEditable="true">
                                {{ case_management.test_case_results}}
                            </td>
                            <td contentEditable="true">
                                {{ case_management.test_case_man}}
                            </td>
                            <td contentEditable="true">
                                备注
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>  <button type="button" class="btn btn-default btn-block btn-primary"><span class="glyphicon glyphicon-plus " aria-hidden="true"></span>  新增用例</button>
            </div>
        </div>
    </div>
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.10/assets/js/vendor/jquery.min.js"><\/script>')</script>
      <script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.10/dist/js/bootstrap.min.js"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.10/assets/js/vendor/holder.min.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.10/assets/js/ie10-viewport-bug-workaround.js"></script>

    
</body>
</html>