<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tc管理系统</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    
    <style>
                #table1 {
                border: 1px solid #d8d8d8;
                border-radius: 4px;
                /* 消除单元格之间的空隙 */
                border-collapse: collapse;
                /* 消除掉外边框 */
                border-style:hidden; 
                /* hack一下加个阴影 */
                box-shadow: 0 0 0 1px #d8d8d8;
            }

    </style>

</head>
<body>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h2 class="text-left text-info">
                        tc用例管理系统
                    </h2>
                </div>
            </div>
            <br /> 
            <br /> 
            <div class="row clearfix">
                <div class="col-md-2 column">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                             <a href="#">当前用例</a>
                        </li>
                        <li>
                             <a href="#">用例集</a>
                        </li>
                        <li >
                             <a href="#">回收站</a>
                        </li>
                        <li class="dropdown pull-right">
                             <a href="#" data-toggle="dropdown" class="dropdown-toggle">操作<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                     <a href="#">操作</a>
                                </li>
                                <li>
                                     <a href="#">设置栏目</a>
                                </li>
                                <li>
                                     <a href="#">更多设置</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                     <a href="#">分割线</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10 column">
                    <div class="tabbable" id="tabs-678706">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                 <a href="#panel-857428" data-toggle="tab">测试用例</a>
                            </li>
                            <li>
                                 <a href="#panel-104120" data-toggle="tab">用例执行</a>
                            </li>
                            <li>
                                <a href="#panel-104120" data-toggle="tab">用例评审</a>
                           </li>
                        </ul>
                        <br />
                        <br />
                        <div class="tab-content">
                            <div class="tab-pane active" id="panel-857428">
                            </div>
                            <div class="tab-pane" id="panel-104120">
                            </div>
                        </div>
                    </div>
                    <table id = "table1" class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    用例名
                                </th>
                                <th>
                                    用例级别
                                </th>
                                <th>
                                    前置条件
                                </th>
                                <th>
                                    操作步骤
                                </th>
                                <th>
                                    预期结果
                                </th>
                                <th>
                                    测试结果
                                </th>
                                <th>
                                    执行人
                                </th>
                                <th>
                                    备注
                                </th>
                            </tr>
                        </thead>
                        {% for case_management in case_management_list %}
                        <tbody>
                            <tr>
                                <td contentEditable="true">
                                    {{ case_management.test_case_name}}
                                </td>
                                <td contentEditable="true"> 
                                    {{ case_management.test_case_level}}
                                </td>
                                <td contentEditable="true">
                                    {{ case_management.test_case_preposition}}
                                </td>
                                <td contentEditable="true">
                                    {{ case_management.test_case_step}}
                                </td>
                                <td contentEditable="true">
                                    {{ case_management.test_case_expected}}
                                </td>
                                <td contentEditable="true">
                                    {{ case_management.test_case_results}}
                                </td>
                                <td contentEditable="true">
                                    {{ case_management.test_case_man}}
                                </td>
                                <td contentEditable="true">
                                    备注
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>  <button type="button" class="btn btn-default btn-block btn-primary"><span class="glyphicon glyphicon-plus " aria-hidden="true"></span>  新增用例</button>
                </div>
            </div>
        </div>
</body>
</html>